{{ define "main" }}
    
<div class="brand-search">
    <div class="brands">
        <h4 id="topBrands">Explore Top Brands <h6>coming soon</h6></h4>
    </div>

    <div id="searchContainer">
        <input type="text" name="" id="searchBox" placeholder="Search item ...">
        <i class="fas fa-search" id="searchIcon"></i>
        <div id="searchResults"></div>
    </div>
</div>

<div class="contentContainer">
    <div class="carousel_items" id="carousel_items">
        <div class="carousel_item item1"></div>
        <div class="carousel_item item2"></div>
        <div class="carousel_item item3"></div>
        <div class="carousel_item item4"></div>
        <div class="carousel_item item5"></div>
    </div>
</div>

<section class="container">
<h1>UK MOBILE STORE</h1>
<div class="wrapper">
  <div class="items">
    <img src="/shop/images/mobiles/mobile-1.jpg" alt="">
    <div class="title-para">
      <h4>TWS Bluetooth i11 v5.0</h4>
      <p>999 pkr/-</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/mobiles/mobile-2.jpg" alt="">
    <div class="title-para">
      <h4>TWS Bluetooth i11 v5.0</h4>
      <p>999 pkr/-</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/mobiles/mobile-3.jpg" alt="">
    <div class="title-para">
      <h4>TWS Bluetooth i11 v5.0</h4>
      <p>999 pkr/-</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/mobiles/mobile-4.jpg" alt="">
    <div class="title-para">
      <h4>TWS Bluetooth i11 v5.0</h4>
      <p>999 pkr/-</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/mobiles/mobile-5.jpg" alt="">
    <div class="title-para">
      <h4>TWS Bluetooth i11 v5.0</h4>
      <p>999 pkr/-</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/mobiles/mobile-6.jpg" alt="">
    <div class="title-para">
      <h4>Techno Spark Go 2023</h4>
      <p>999 pkr/-</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/chargers/charger-1.jpg" alt="">
    <div class="title-para">
      <h4>TWS Bluetooth i11 v5.0</h4>
      <p>999 pkr/-</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/chargers/charger-2.jpg" alt="">
    <div class="title-para">
      <h4>TWS Bluetooth i12 v5.0</h4>
      <p>50% discount</p>
      <small>buy one get one free</small>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/chargers/charger-3.jpg" alt="">
    <div class="title-para">
      <h4>Bluetooth M11 v5.0</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/chargers/charger-4.jpg" alt="">
    <div class="title-para">
      <h4>Airpod Cover</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/chargers/charger-5.jpg" alt="">
    <div class="title-para">
      <h4>bluetooth mini Speaker</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/chargers/charger-6.jpg" alt="">
    <div class="title-para">
      <h4>JBL bluetooth Speaker</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/handsfree/handsfree-1.jpg" alt="">
    <div class="title-para">
      <h4>Interlink Fast Data Cable</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/handsfree/handsfree-2.jpg" alt="">
    <div class="title-para">
      <h4>Magnetic Cable</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/handsfree/handsfree-3.jpg" alt="">
    <div class="title-para">
      <h4>Interlink Data + Charging Cable</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/handsfree/handsfree-4.jpg" alt="">
    <div class="title-para">
      <h4>Biboshi Data Cable</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/handsfree/handsfree-5.jpg" alt="">
    <div class="title-para">
      <h4>IPhone x Data Cable</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/handsfree/handsfree-6.jpg" alt="">
    <div class="title-para">
      <h4>Metal Spring Data Cable</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cables/cable-1.jpg" alt="">
    <div class="title-para">
      <h4>AT Alfa handsfree</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cables/cable-2.jpg" alt="">
    <div class="title-para">
      <h4>Realme handsfree</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cables/cable-3.jpg" alt="">
    <div class="title-para">
      <h4>R.T Earphone</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cables/cable-4.jpg" alt="">
    <div class="title-para">
      <h4>Motrolla Earbuds</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cables/cable-5.jpg" alt="">
    <div class="title-para">
      <h4>IPhone handsfree First Copy</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cables/cable-6.jpg" alt="">
    <div class="title-para">
      <h4>Universal Earphone</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/speakers/speaker-1.jpg" alt="">
    <div class="title-para">
      <h4>A.T-Mall Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/speakers/speaker-2.jpg" alt="">
    <div class="title-para">
      <h4>H.L Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/speakers/speaker-3.jpg" alt="">
    <div class="title-para">
      <h4>NAZ Fast Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/speakers/speaker-4.jpg" alt="">
    <div class="title-para">
      <h4>Erorex Ultra Fast Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/speakers/speaker-5.jpg" alt="">
    <div class="title-para">
      <h4>LMA Fast Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/speakers/speaker-6.jpg" alt="">
    <div class="title-para">
      <h4>IPhone X Max Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/airpods/airpod-1.jpg" alt="">
    <div class="title-para">
      <h4>H.L Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/airpods/airpod-3.jpg" alt="">
    <div class="title-para">
      <h4>Interlink Soper Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/airpods/airpod-4.jpg" alt="">
    <div class="title-para">
      <h4>Interlink Soper Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/airpods/airpod-5.jpg" alt="">
    <div class="title-para">
      <h4>H.L Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/airpods/airpod-6.jpg" alt="">
    <div class="title-para">
      <h4>Interlink Soper Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/airpods/airpod-7.jpg" alt="">
    <div class="title-para">
      <h4>Interlink Soper Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cases/case-1.jpg" alt="">
    <div class="title-para">
      <h4>H.L Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cases/case-2.jpg" alt="">
    <div class="title-para">
      <h4>Interlink Soper Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cases/case-3.jpg" alt="">
    <div class="title-para">
      <h4>Interlink Soper Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cases/case-4.jpg" alt="">
    <div class="title-para">
      <h4>H.L Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cases/case-5.jpg" alt="">
    <div class="title-para">
      <h4>Interlink Soper Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
  <div class="items">
    <img src="/shop/images/cases/case-6.jpg" alt="">
    <div class="title-para">
      <h4>Interlink Soper Charger</h4>
      <p>50% discount</p>
    </div>
  </div>
</div>
</section>


{{ end }}